.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 200px  1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-width: 1200px;
    gap: 10px;
    margin: 0 auto;
    
}

header{
    grid-area: header;
    background-color: rgb(93, 10, 100);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

nav{
    grid-area: nav;
     background-color:  rgba(87, 33, 104, 0.226);
    border-radius: 10px;
    padding: 10px;
    position: sticky;
    align-self:start ;
    top: 10px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
color: rgb(29, 28, 28);
text-decoration: none;
font-size: 18px;
font-family: Arial, sans-serif;

}

nav ul li a:hover {
    text-decoration: underline;
}

main{
    grid-area: main;
       background-color:rgba(95, 24, 112, 0.473);
    border-radius: 10px;
    border: solid 1px rgb(184, 169, 248);
}
main.contentSection{
    margin: 10px;
}
.FlexSection{
    display: flex;
    gap: 10px;
    padding: 10px;

}
.FlexItem{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;

}

img{
    max-width: 50%;
}
.serviceList{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.serviceItem{
background-color: rgb(215, 198, 224);
border-left: solid 5px rgb(93, 10, 100);
padding: 15px;
margin-left: 10px
;
}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
}
.contactForm textarea{
    /* width:; */
    border: 1px solid white;
    resize: none;
    
}
.contactForm button{
    font-weight: bold;
    align-self: flex-start;
    margin: auto;
}


footer{
    grid-area: footer;
    background-color: rgb(93, 10, 100);
    color: white;
    text-align: center;
    border-radius: 10px;

}
button{
    background-color: rgb(74, 23, 90);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(155, 81, 155);
}

@media (max-width: 768px){
    .container{
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        min-width: 300px;
    }
    nav{
        text-align: center;
    }
    .FlexSection{
        flex-direction: column;
    }
}